* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 81.25%;
    
    background-color: #573;
    background-image: -moz-linear-gradient(#573, #231); /* FF3.6 */
    background-image: -webkit-gradient(linear,left top,left bottom,from(#573),to(#231)); /* Saf4+, Chrome */
    /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#557733', EndColorStr='#336633'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#557733', EndColorStr='#336633')"; /* IE8 */

    font-family: "Verdana", sans-serif;
    height: 100%;
}

body {
}

section {
    width: 480px;
    margin: 0 auto;
    
    color: #EEE;
    color: rgba(255, 255, 255, 0.75);
}

h1 {
    font-size: 4em;
    margin: 1em 0 0.5em;
    padding: 0.1em 20px;
    width: 480px;
    
    font-family: "Univers", "Zurich BT", "Helvetica Neue", "Neue Helevetica", "Helvetica", "Arial", sans-serif;
    color: #FFF;
    line-height: 1;
}

h2 {
    font-size: 1.5em;
    margin: 1em 20px 0.5em;
    
    font-family: "Univers", "Zurich BT", "Helvetica Neue", "Neue Helevetica", "Helvetica", "Arial", sans-serif;
    color: #FFF;
    line-height: 1;
}

p {
    margin: 0 20px 1.5em;
    line-height: 1.5em;
}

blockquote p {
    margin-left: 40px;
}

p a:link,
p a:visited {
    padding: 2px 0;
    margin: 0;
    color: #EFE;
    text-decoration: none;
    border-bottom: 1px solid #9A9;
}

p a:hover {
    color: #FFF;
    border-color: #FFF;
    background-color: rgba(255, 255, 240, .2);
}